.event
  %h1.title= event.title

  - if event.start_time < Time.now
    %h2
      %em
        Started
        %abbr.timeago{ :title => event.end_time.iso8601 }= event.end_time.strftime "%A %B %e, %I:%M%p"

  %p
    %h2
      %abbr{ :title => event.start_time.iso8601 }= event.start_time.strftime "%A %B %e, %I:%M%p"

    %h3= event.where
    -#%p
    -#  %em Created:
    -#  %abbr.timeago{ :title => event.updated.iso8601 }= event.updated
    %p
      %ul.assistants
        - for person in event.attendees do
          - name = person[:name].split(' ').first rescue 'Attendee'
          %li
            = (person[:role] == 'organizer' ? '*' : '' )
            %a{ :href=> "mailto:#{person[:email]}" }= name